@font-face {
    font-family: MaisonNeueMonoWEB;
    src: url("Assets/Fonts/620e57b046aeb142afb3c373_MaisonNeueMonoWEB-Regular.ttf");
}

@font-face {
    font-family: AeonikPro-Regular;
    src: url("Assets/Fonts/620e5796f94823392179d875_AeonikPro-Regular.ttf");
}

@font-face {
    font-family: AeonikMono-Regular;
    src: url("Assets/Fonts/6232160eeef427e45a261dff_AeonikMono-Regular.ttf");
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: AeonikPro-Regular;
    user-select: none;
}

html,
body {
    height: 100%;
    width: 100%;
}

/* main-container */

#mainCtn {
    border-top: 1px solid transparent;
    min-height: 100vh;
    width: 100%;
    position: relative;
}

/* navigation-bar */

nav {
    position: fixed;
    z-index: 50000;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3.2vw;
}

nav img {
    height: 30px;
    width: 30px;
}

#rightNav {
    display: flex;
    align-items: center;
}

#rightNav #btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.5vw;
    height: 35px;
    width: 120px;
    background-color: #dbff00;
    border-radius: 22.5px;
    overflow: hidden;
    position: relative;
}

#btnC {
    font-size: 14px;
    font-weight: 450;
    z-index: 10;
}

#btnShutter {
    width: 100%;
    height: 0%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

#rightNav #btn:hover #btnShutter {
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
    height: 100%;
}

.menu {
    height: 35px;
    width: 35px;
}

/* header-section */

#headerSec {
    padding-top: 2vh;
    position: fixed;
    min-height: 76vh;
    width: 100%;
    background-color: black;
    color: white;
}

#mainH {
    color: white;
    font-size: 3vw;
    padding: 8vh 3.2vw;
    margin-bottom: 12vh;
}

#mainH h1 {
    font-weight: 500;
}

#sLineCtn {
    width: 50vw;
    height: 0.1vh;
    margin: 0vh 2vw;
    margin-top: 2.8vh;
}

#sLine {
    width: 100%;
    height: 0.1vh;
    background-color: white;
}

#mainHMidH {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#mainHLCtn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#sup1 {
    font-size: 1vw;
    align-self: baseline;
}

#mainHL {
    text-align: right;
}

.textwrapper span {
    margin-left: 1.2vw;
    display: inline-block;
}

.textwrapper span:nth-child(1) {
    margin-left: 0;
}

.textwrapper {
    overflow: hidden;
}

#sideH {
    text-align: right;
    color: white;
    padding: 0vh 3.2vw;
    font-size: 0.8vw;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#sideH>i {
    margin-left: .7vw;
    font-size: 1.1vw;
}

/* main-section */

#mainSec {
    position: relative;
    z-index: 1;
    margin-top: 76vh;
    min-height: 100vh;
    width: 100%;
}

/* video-section-1  */

#videoSec-1 {
    overflow: hidden;
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: black;
}

#videoSec-1>video {
    width: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

#movingCir1 {
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
    position: absolute;
    top: 50%;
    width: 5vw;
    left: 50%;
    height: 5vw;
    background-color: black;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    opacity: 0;
}

/* section-1 */

#sec-1 {
    display: flex;
    align-items: center;
    color: white;
    height: 100vh;
    width: 100%;
    background-color: black;
    padding: 0vh 3.2vw;
}

#sec-1>h1 {
    font-size: 3vw;
}

/* section-2 */

#sec-2 {
    color: white;
    height: 100vh;
    width: 100%;
    background-color: black;
    padding: 0vh 3.2vw;
}

#tmiddle {
    display: flex;
    align-items: center;
    font-size: 1.3vw;
}

#tSLine {
    width: 65vw;
    height: 0.1vh;
    background-color: white;
    margin-left: 2vw;
}

#orbital {
    font-size: 20vw;
    color: white;
}

#bH {
    display: flex;
    align-items: center;
}

#bH h1 {
    font-size: 20vw;
    font-weight: 500;
    color: white;
    line-height: 25vh;
}

#sec-2>h1 {
    font-weight: 500;
}

#bH button {
    background-color: black;
    color: white;
    border: 0.4vh solid white;
    padding: 1.8vw 3.5vw;
    border-radius: 15vw;
    margin-left: 4vw;
    font-size: 1.4vw;
}

/* video-section-2 */

.videoSec-2 {
    overflow: hidden;
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

.videoSec-2>video {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* section-3 */

#sec-3 {
    display: flex;
    color: white;
    height: 100vh;
    width: 100%;
    background-color: black;
}

.slide {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    width: 25%;
    height: 100vh;
    border-right: 0.1px solid rgba(255, 255, 255, 0.252);
    border-top: 0.1px solid rgba(255, 255, 255, 0.252);
}

.slide:nth-child(4) {
    border-right: none;
}


.content {
    font-size: 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0px 1.5vw;
}

.arrow {
    overflow: hidden;
    border: 0.1px solid white;
    padding: 1.2vw;
    position: relative;
    font-size: 1vw;
    border-radius: 50%;
}

.rarrow {
    transition: linear 0.5s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.darrow {
    transition: cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
    position: absolute;
    top: 150%;
    left: -50%;
    transform: translate(-50%, -50%);
}

.tile {
    transition: cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0%;
    height: 100%;
    background-color: white;
    pointer-events: none;
}

.slide:hover .arrow .rarrow {
    left: 140%;
}

.slide:hover .arrow .darrow {
    left: 50%;
    top: 50%;
}

.slide:hover .tile {
    width: 100%;
}

.slide:hover .content {
    color: black;
    z-index: 10;
}

.slide:hover .arrow {
    background-color: black;
    color: white;
}

.videoOpener {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    transform: translate(-50%, -50%);
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
    overflow: hidden;
}

.videoOpener video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
}

#CircularCtn {
    height: 12vw;
    width: 12vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#CircularCtn img {
    animation: anim 8s linear infinite both;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes anim {
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

#dot {
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1vw;
    height: 1vw;
    background-color: rgb(62, 204, 62);
    border-radius: 50%;
}

#sec-4 {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    color: black;
    height: 125vh;
    width: 100%;
    background-color: white;
}

#sec-4 h1 {
    margin-top: 25vh;
    padding: 0vh 3.2vw;
    font-weight: 500;
    font-size: 4vw;
}

#slider {
    width: 100%;
    height: 30%;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 0 3.2vw;
    gap: 4vw;
    margin-top: 25vh;
    position: relative;
}

#slider #movingRing {
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
    width: 4vw;
    height: 4vw;
    background-color: black;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    pointer-events: none;
}

#slider::-webkit-scrollbar {
    display: none;
}

.slides {
    width: 300px;
    height: 100%;
    flex-shrink: 0;
}

.slides div {
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 20%;
    width: 100%;
}

.slides div img {
    width: 40%;
}

#partner_3 {
    width: 25%;
}

.slides p {
    width: fit-content;
    height: fit-content;
    margin-top: 4vw;
    font-size: 14px;
    font-weight: 450;
}

.slides img {
    width: 8vw;
}

#sec-5 {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* overflow: hidden; */
    color: black;
    background-color: white;
}

#sec-5 h1 {
    font-size: 25vw;
    letter-spacing: 5px;
    color: black;
    overflow: hidden;
}

#box1 {
    position: absolute;
    top: 125%;
    left: 9%;
    height: 80vh;
    width: 23%;
    overflow: hidden;
}

#movingCir2 {
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
    position: absolute;
    top: 50%;
    width: 5vw;
    left: 50%;
    height: 5vw;
    background-color: rgb(196, 187, 187);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    opacity: 0;
}

.sBox {
    width: 100%;
    height: 85%;
    overflow: hidden;
}

.sBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: cubic-bezier(0.19, 1, 0.22, 1) 2s;
}

.sBox img:hover {
    transform: scale(1.1);
}

.box h4 {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#box2 {
    position: absolute;
    top: 160%;
    left: 42%;
    height: 80vh;
    width: 23%;
}

#box3 {
    position: absolute;
    top: 195%;
    left: 72%;
    height: 80vh;
    width: 23%;
}

#sec-6 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: white;
}

#epmainH {
    color: black;
    font-size: 2.8vw;
    padding: 0 2.5vw;
    position: relative;
    width: 100%;
}

#epmainH h1 {
    font-weight: 350;
}

#epmainHMidH {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#epsLine {
    width: 55vw;
    height: 1px;
    background-color: rgb(0, 0, 0);
}

#epmainHL {
    text-align: right;
}

#epCircle {
    width: 18vw;
    height: 18vw;
    background-color: black;
    position: absolute;
    border-radius: 50%;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;

}

/* section-7 */

#sec-7 {
    color: white;
    min-height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
}

#leftP {
    width: 50%;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vh 0vw;
}

#leftP h1 {
    font-size: 4vw;
    font-weight: 550;
}

#leftP p {
    font-size: 1vw;
    text-align: center;
    margin-top: 3.2vh;
}

#leftP input {
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(199, 199, 199, 0.5);
    width: 30vw;
    padding: 1.2vh 0vw;
    color: white;

}

#leftP img {
    width: 19vw;
    height: 19vw;
    margin: 8vh 0vw;
}

#leftP button {
    border: 1px solid white;
    background-color: transparent;
    font-size: 1.3vw;
    color: white;
    padding: 1vw 3vw;
    border-radius: 30px;
    margin-top: 2vw;
    cursor: pointer;
}

#rightP {
    width: 50%;
    height: 100vh;
    border-left: 1.5px solid rgba(199, 199, 199, 0.5);
}

.bb {
    width: 100%;
    height: 11vh;
    border-bottom: 1.5px solid rgba(199, 199, 199, 0.5);
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 2vw;
    position: relative;
    font-size: 1.15vw;
}

.bb h1 {
    font-weight: 200;
}

#b9 {
    width: 100%;
    height: 12vh;
}

.tileShow {
    transition: cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 0%;
    background-color: white;
}

.bb:hover .tileShow {
    transition: cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
    height: 100%;

}

.bb:hover>h1 {
    color: black;
    z-index: 10;
}

#b9 {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
}

#b9 div {
    display: flex;
}

.sHandels {
    overflow: hidden;
    width: 2.8vw;
    height: 2.8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.5vw;
    border-radius: 50%;
    border: 1px solid white;
    position: relative;

}

.sHTile {
    transition: cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    border: none;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 0%;
    background-color: white;
}

.sHandels i {
    font-size: 1.5vw;
}

.sHandels:hover .sHTile {
    height: 100%;
}

.sHandels:hover>i {
    color: black;
    z-index: 10;
}

.sHandels:hover {
    border: none;
}

#b9 h4 {
    font-size: 1vw;
    font-weight: 200;
    font-style: italic;
    letter-spacing: 0.1vw;
    display: flex;
    align-items: center;
}

#b9 h4 i {
    color: red;
    font-size: 2vw;
    padding: 0vw 0.3vw;
}

@media screen and (max-width: 500px) {

    /* navigation-bar */
    nav {
        padding: 0 4vw;
    }

    #rightNav #btn {
        display: none;
    }

    /* header-section */
    #sLineCtn {
        display: none;
    }

    #headerSec {
        min-height: 50vh;
    }

    #mainHMidH {
        justify-content: initial;
    }

    .midLas .textwrapper span {
        margin-left: 1.2vw;
    }

    #mainHLCtn {
        justify-content: flex-start;
    }

    #sup1 {
        display: none;
    }

    #mainH {
        font-size: 5vw;
        margin-bottom: 10vh;
    }

    #sideH {
        font-size: 2vw;
    }

    #sideH i {
        font-size: 2vw;
    }

    /* main-section */

    #mainSec {
        margin-top: 50vh;
    }

    /* video-section-1 */

    #videoSec-1 {
        height: 50vh;
    }

    #videoSec-1>#movingCir1 {
        display: none;
    }

    /* section-1 */

    #sec-1 {
        height: 40vh;
    }

    #sec-1 h1 {
        font-size: 5vw;
        font-weight: 500;
    }

    /* section-2 */

    #sec-2 {
        height: 40vh;
    }

    #tmiddle h1 {
        font-size: 4vw;
        font-weight: 500;
    }

    #tSLine {
        width: 75vw;
    }

    #orbital {
        margin-top: 2vh;
    }

    #sec-2 #bH {
        flex-direction: column;
        align-items: flex-start;
    }

    #sec-2 #bH #orbital2 {
        line-height: 10vh;
    }

    #sec-2 #bH button {
        margin-top: 2vh;
        margin-left: 1.8vw;
        border: 1px solid white;
        font-size: 2vw;
    }

    /* video-section-2  */

    .videoSec-2 {
        height: 60vh;
    }

    .videoSec-2 video {
        width: 100%;
    }

    /* section-3 */

    #sec-3 {
        height: 50vh;
        flex-direction: column;
    }

    #sec-3 #slide-4 {
        display: none;
    }

    #sec-3 .slide {
        width: 100%;
        padding: 0 3.2vw;
    }

    #sec-3 .slide .content h3 {
        font-size: 8vw;
    }

    #sec-3 .slide .content .arrow {
        height: 10vw;
        width: 10vw;
    }

    #sec-3 .slide .content .arrow i {
        font-size: 8vw;
    }


    /* section - 4 */


    #sec-4 {
        height: 90vh;
    }

    #sec-4 h1 {
        margin-top: 20vh;
        font-size: 7vw;
    }

    /* section - 5 */

    #box1 {
        position: absolute;
        top: 125%;
        left: 5%;
        height: 80vh;
        width: 70%;
        overflow: hidden;
    }
    
    #movingCir2 {
        display: none;
    }
    
    .sBox {
        width: 100%;
        height: 85%;
        overflow: hidden;
    }
    
    .sBox img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: cubic-bezier(0.19, 1, 0.22, 1) 2s;
    }
    
    .sBox img:hover {
        transform: scale(1.1);
    }
    
    .box h4 {
        font-size: 20px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
    #box2 {
        position: absolute;
        top: 250%;
        left: 15%;
        height: 80vh;
        width: 70%;
    }
    
    #box3 {
        position: absolute;
        top: 375%;
        left: 25%;
        height: 80vh;
        width: 70%;
    }


    /* section - 6 */

    #sec-6 {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        background-color: rgb(255, 255, 255);
    }
    
    #epmainH {
        color: black;
        font-size: 6vw;
        padding: 0 5vw;
        position: relative;
        width: 100%;
    }
    
    #epmainH h1 {
        font-weight: 550;
    }
    
    #epmainHMidH {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 60vh;
    }

    #epmainHMidH h1:nth-child(1){
        align-self: flex-start;
    }
    #epmainHMidH h1:nth-child(3){
        align-self: flex-end;
    }


    
    #epsLine {
        display: none;
    }
    
    #epmainHL {
        text-align: right;
    }
    
    #epCircle {
        width: 40vw;
        height: 40vw;
        background-color: black;
        position: absolute;
        border-radius: 50%;
        display: flex;
        align-items: center;
        color: white;
        justify-content: center;
    }

    /* section - 7 */

    #sec-7 {
        flex-direction: column;
    }

    #leftP {
        border-top: 1px solid rgba(199, 199, 199, 0.5);
        width: 100%;
        height: 80vh;
    }


    #leftP h1 {
        font-size: 10vw;
        font-weight: 550;
    }

    #leftP p {
        font-size: 3.3vw;
        text-align: center;
        margin-top: 3.2vh;
    }

    #leftP input {
        background: transparent;
        outline: none;
        border: none;
        border-bottom: 1px solid rgba(199, 199, 199, 0.5);
        width: 70vw;
        padding: 1.2vh 0vw;
        color: white;

    }

    #leftP img {
        width: 50vw;
        height: 50vw;
        margin: 6vh 0vw;
    }

    #leftP button {
        border: 1px solid white;
        background-color: transparent;
        font-size: 4vw;
        color: white;
        padding: 2vw 5vw;
        border-radius: 30px;
        margin-top: 5vw;
        cursor: pointer;
    }

    #rightP {
        width: 100%;
        border-left: none;
    }

    #b1 {
        border-top: 1.5px solid rgba(199, 199, 199, 0.5);
    }

    .bb h1 {
        font-size: 6vw;
        padding-left: 2vw;
    }

    #b9 {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .sHandels {
        width: 8vw;
        height: 8vw;
    }

    .sHandels i {
        font-size: 4vw;
    }

    #b9 h4 {
        font-size: 2.5vw;
        font-weight: 200;
        font-style: normal;
        letter-spacing: 0.1vw;
        display: flex;
        align-items: center;
    }

    #b9 h4 i {
        color: red;
        font-size: 4vw;
        padding: 0vw 0.5vw;
    }






















}